.offer{
    height: 200px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
.offer > img{
    padding: 10px;
    position: relative;
    left: 28%;
    top: 16%;
    z-index: 1;
}
.review-section{
    /* background-image: url('https://image3.jdomni.in/banner/07042018/10/E0/2C/6D49CFDE10F0027CDF5AF24510_1523098355001.jpg?output-format=webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    padding: 20px;
}
.section1-ui{
    line-height: 20px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    overflow: auto;
    box-shadow: 1px 3px 4px -1px rgb(59,89,152,0.6);
}
.section1-ui img{
    position: relative;
    bottom: -30px;
    right: -160px;
}
.section1-u1-learning{
    padding: 5px 12px;
    text-decoration: none;
    background-color: #e5e5e5;
    color: #373737;
    border-radius: 50px;
    transition: 0.5s ease;
    text-align: justify;
    font-size: 10px;
}
.section1-u1-learning:hover{
    color: white;
    background-color: rgb(55, 55, 55);
}
    .news{
        border:1px solid #dcdcdc;
        border-radius:5px;
        transition: 0.5s ease-in-out;
    }
    .news:hover{
       box-shadow: 0px 3px 5px -3px rgb(59,89,152,0.4);
    }

    .news a{
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        justify-content: end;        
        color: crimson;
    }

    