<div class="container">
    <div class="row p-5">
        <div class="col-md-5">
            <img src="../../../assets/aboutus01.png" class="img-fluid w-100" alt="">
        </div>
        <div class="col-md-7 p-4">
            <h4 [ngClass]="'default-heading01'" ><span>About</span> Us</h4> 
            <p [ngClass]="'default-pera01'">SIS has been in operation at INDIA for the past 20 years and has involved in Inspection & Training of Major Companies' in INDIA & OVERSEAS'. Regarding training programs in a short span, SIS has trained over 50000 candidates, both from India and abroad. Our training School has excellent infrastructure facilities for theoretical sessions, well supported by audio-visual needs. Our faculties have excellent communication and capability to disseminate their acquired knowledge in a planned manner.</p>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-7 p-2">
            <h4 [ngClass]="'default-heading01'" >Our <span>Overview</span> </h4>
            <p [ngClass]="'default-pera01'">SIS NDT training programmes are charted on the guidelines of ASNT-SNT-TC-1A, the norm as per American Society for Nondestructive Testing, USA. SIS offers NDT training and certification on six major NDT methods Welding and Painting Inspection unique of its kind in South India.</p>
            
            <p [ngClass]="'default-pera01'">SIS classrooms are spacious enough to accommodate more than 20 participants. The courses are carefully scheduled so as to meet the demanding needs of our students. NDT training programmes include lectures by eminent & experienced persons; Lectures are supplemented with computer-based mock-up examinations and other simulation software, enabling the participant to simulate the working conditions.
            </p>
            <p [ngClass]="'default-pera01'">SIS NDT training programmes also include video presentations of various NDT methods and their specifics for the candidates to visually inherit the concepts & procedures involved in Non-destructive Examination. Our courses are designed to stress on practical application and relate theory to the work environment. Comprehensive practical training on one-on-one basis has made us an outstanding training center among other NDT trainers.
            </p>

        </div>
        <div class="col-md-5">
            <img src="../../../assets/aboutus02.png" class="img-fluid w-100" alt="">
        </div>
    </div>

    <div class="row p-5 my-2" [ngStyle]="{'background-color':'#FFE4D9', 'border-radius':'20px'}">
        <div class="col-md-6 p-2">
            <h4 [ngClass]="'default-heading01'" >Our <span>Mission</span> </h4>
            <p [ngClass]="'default-pera01'">SIS NDT training programmes are charted on the guidelines of ASNT-SNT-TC-1A, the norm as per American Society for Nondestructive Testing, USA. SIS offers NDT training and certification on six major NDT methods Welding and Painting Inspection unique of its kind in South India.</p>
            
            <p [ngClass]="'default-pera01'">SIS classrooms are spacious enough to accommodate more than 20 participants. The courses are carefully scheduled so as to meet the demanding needs of our students. NDT training programmes include lectures by eminent & experienced persons; Lectures are supplemented with computer-based mock-up examinations and other simulation software, enabling the participant to simulate the working conditions.
            </p>
            <p [ngClass]="'default-pera01'">SIS NDT training programmes also include video presentations of various NDT methods and their specifics for the candidates to visually inherit the concepts & procedures involved in Non-destructive Examination. Our courses are designed to stress on practical application and relate theory to the work environment. Comprehensive practical training on one-on-one basis has made us an outstanding training center among other NDT trainers.
            </p>

        </div>
        <div class="col-md-6">
            <img src="../../../assets/vission&mision.png" class="img-fluid w-100" alt="">
        </div>
    </div>
</div>

<div class="comntainer">
    <div class="row p-5">
        <div class="col-md-3">
            <div class="team p-3">
                <img src="../../../assets/team/1.png" alt="" class="img-fluid py-2 ">
                <h5>Mr. Joe Biden</h5>
                <span class="blockquote-footer">CEO</span>
                <p [ngClass]="'default-pera01'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint beatae modi quidem, harum consequuntur reiciendis</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team p-3">
                <img src="../../../assets/team/1.png" alt="" class="img-fluid py-2 ">
                <h5>Mr. Joe Biden</h5>
                <span class="blockquote-footer">CEO</span>
                <p [ngClass]="'default-pera01'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint beatae modi quidem, harum consequuntur reiciendis</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team p-3">
                <img src="../../../assets/team/1.png" alt="" class="img-fluid w-75 mx-auto d-block py-5  ">
                <h5 >Mr. Joe Biden</h5>
                <span class="blockquote-footer">CEO</span>
                <p [ngClass]="'default-pera01'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint beatae modi quidem, harum consequuntur reiciendis</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team p-3">
                <img src="../../../assets/team/1.png" alt="" class="img-fluid py-2 ">
                <h5>Mr. Joe Biden</h5>
                <span class="blockquote-footer">CEO</span>
                <p [ngClass]="'default-pera01'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint beatae modi quidem, harum consequuntur reiciendis</p>
            </div>
        </div>

    </div>
</div>
