<div class="container">
    <div class="row p-5">
        <div class="col-md-6 bg-light"> 
            <div class="contact01">
                <h6>Address</h6>
                <p>CLICKNPAY DIGITAL SOLUTIONS INDIA PRIVATE LIMITED
                Aligarh, Uttar Pradesh, India, 202001</p>
                
                <h6>Email</h6>
                <p>CLICKNPAY DIGITAL SOLUTIONS INDIA PRIVATE LIMITED
                Aligarh, Uttar Pradesh, India, 202001</p>

                <h6>Contact</h6>
                <a href=""></a>
            </div>

        </div>
    </div>
</div>