<div class="container">
    <div class="row p-5">
        <h5 [ngClass]="'default-heading01'">Contact <span>Information</span> -</h5>
        <div class="col-md-6 p-3"> 
            <div class="contact01">
                <h6 class="default-heading02"><span>Our Address -</span></h6>
                <p [ngClass]="'default-pera01'">Old No 36/1, New No 18/1,Behind KFC,12th Avenue, <br>Ashok Nagar, Chennai, Tamil Nadu 600083</p>
            </div>
        </div>
        <div class="col-md-6 p-3">
            <div class="contact01">
                <h6 class="default-heading02"><span>General Queries -</span></h6>
                <a href="mailto:sisinsndt@yahoo.com" title="Mail to admin">sisinsndt@yahoo.com</a>
                <a href="mailto:certificationsis@gmail.com">certificationsis@gmail.com</a><br>
                <a href="mailto:sisinspectionservice@gmail.com">sisinspectionservice@gmail.com</a>
            </div>
        </div>
        <div class="col-md-6 p-3 ">
            <div class="contact01" [ngStyle]="{'padding':'15px'}">
                <h6 class="default-heading02"><span>Call Us -</span></h6>
                <a href="tel:+919282106896">+91-9282106896,</a>
                <a href="tel:+919444298642">+91-9444298642,</a>
                <a href="tel:+919710399300">+91-9710399300,</a><br>
                <a href="tel:044-24717182">044-24717182</a>
            </div>
        </div>

        <div class="col-md-6 p-3 ">
            <div class="contact01 ">
                <h6 class="default-heading02"><span>Timming -</span></h6>
                <span>Mon - Sat : <b>(09:30 AM - 06:00 PM)</b></span><br>
                <span>Sun : Closed</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="default-heading01 p-2">Our <span>Location -</span></h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.94177449633156!2d80.21176504287364!3d13.031316697878063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52671fa7ed2a0d%3A0x43cfc22d42fa7838!2s11th%20Avenue%2C%20Mettuppalayam%2C%20Ashok%20Nagar%2C%20Chennai%2C%20Tamil%20Nadu%20600083!5e0!3m2!1sen!2sin!4v1662014049826!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>