.contact01{
    padding: 10px;
    background-color: #F2F2F2;    
    transition: 0.5s ease;
    box-shadow: 0px 3px 5px -3px rgb(59,89,152,0.4);
    border-left: 4px solid #f58a94;
}
.contact01:hover{
    box-shadow: 0px 5px 15px -3px rgb(59,89,152,0.4);
}
.contact01 > a{
    text-decoration: none;
    padding: 10px;
    color: #4b5363;
}
.contact01 > span {
    padding:10px;
    color: #4b5363;

}