<section [ngStyle]="{'background':'#33415B', 'border-top':'1px solid red'}">
<div class="container">
    <div class="row p-4">
        <div class="col-md-3 px-3">
            <img src="../../../assets/mainlogo.png" class="img-fluid w-50" >
            <h6 class="text-white fw-bolder py-2">“ONE SHOP FOR ALL YOUR NDT & WELDING NEEDS”</h6>
            <p class="text-white">INSPECTION, TRAINING, MANPOWER SERVICE & ALL NDT ACTIVITIES.</p>
            <ul class="social-img ">
                <span class="fw-bold text-white">Follow connection -</span>
                <li><a href="#">F</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">I</a></li>
                <li><a href="#">Y</a></li>
            </ul>
        </div>
        <div class="col-md-2 py-4">
            <span class="fw-bold pl-3 text-white">Our Course </span>
            <div ngClass="footer-border"></div>
            <ul class="py-3" ngClass="footerlink">
                <li><a class="nav-link" routerLink="asnt">ASNT NDT- II COURSES</a></li>
                <li><a class="nav-link" routerLink="AdvanceNdt">ADVANCED NDT</a></li>
                <li><a class="nav-link" routerLink="CswipOne">CSWIP 3.1</a></li>
                <li><a class="nav-link" routerLink="CswipTwo">CSWIP 3.2</a></li>
                <li><a class="nav-link" routerLink="Bgas">BGAS Gr-2</a></li>
            </ul>
        </div>
        <div class="col-md-2 py-4">
            <span class="fw-bold pl-3 mb-4 text-white">Important Link</span>
            <div [ngStyle]="{}" ngClass="footer-border"></div>
            <ul class="py-3" ngClass="footerlink">
                <li><a class="nav-link" routerLink="Aboutus">About Us</a></li>
                <li><a class="nav-link" routerLink="Contact">Contact Us</a></li>
                <li><a class="nav-link" routerLink="Legal-page">Legal Page</a></li>
                <li><a class="nav-link" routerLink="Result">Result</a></li>
                <li><a class="nav-link" routerLink="">Education Loan</a></li>
            </ul>
        </div>
        <div class="col-md-2 py-4">
            <span class="fw-bold pl-3 mb-4 text-white">How We Work</span>
            <div [ngStyle]="{}" ngClass="footer-border"></div>
            <ul class="py-3" ngClass="footerlink">
                <li><a class="nav-link" routerLink="ConventionalNdt">CONVENTIONAL NDT</a></li>
                <li><a class="nav-link" routerLink="AdvanceNdtComponent">ADVANCED NDT</a></li>
                <li><a class="nav-link" routerLink="EquipmentSupply">EQUIPMENT SUPPLY</a></li>
                <li><a class="nav-link" routerLink="Placement">Placement Serivce</a></li>
            </ul>
        </div>
        <div class="col-md-3 py-4 text-end footer-contact">
            <span class="fw-bolder h5 pl-3 mb-4 py-2 text-white ">Reach us</span>
            <h6 class="text-white">- Our Office Address</h6>
            <p>Old No 36/1, New No 18/1,Behind KFC,12th Avenue, Ashok Nagar, Chennai, Tamil Nadu 600083</p>
            <h6 class="text-white">- Our Timing</h6>
            <p>Mon - Sat : 09:30 AM - 06:00 PM <br>
               Sun : Closed</p>
        </div>

    </div>
</div>
</section>

<section  [ngStyle]="{'background-color':'#33363F'}" class="px-2 ">
    <div class="col-md-12 text-start text-white">
        <p [ngStyle]="{'padding':'5px', 'font-size':'13px'}">Copyright 2022 © SIS Institute Of NDT. All Rights Reserved </p>
    </div>

</section>
