


<div class="container">
    <div class="row p-5">
        <div class="col-md-12">
            <h4 class="text-center" [ngClass]="'default-heading01'">ASNT NDT- II <span>COURSES</span></h4>
            <p [ngClass]="'default-pera01'">Upon producing relevant educational and experience details, the candidates are trained as per the guidelines of ASNT norms. The candidates will undergo theoretical and practical examinations at the end of the training program. The successful candidates are certified as Level II and Level I. The certification bears an International recognition and theCandidates are eligible to work on International projects, worldwide.</p>
        </div>
        <div class="col-md-4">
            <p>master</p>
        </div>
        <div class="col-md-4">
            <p>master</p>
        </div>
        <div class="col-md-4">
            <p>master</p>
        </div>
    </div>
</div>