@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{

    font-family: Poppins ;
    /* background-color: #F2F2F2; */
}

.myclass{
    background-color:#33415B;   
    border-bottom: 2px solid #DC3545;
}
.top-header{
    font-size:13px;
    padding: 6px;
}
.top-header a{
    padding: 3px;
    text-decoration: none;
    color: #33415B;
    transition: 0.5s ease;
}
.top-header a:hover{
    color: #DC3545;
    transition: 0.5s ease;
}
.signup a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-link{
    color: aliceblue;
}
.nav-link.active{
    color: #DC3545;
    font-weight: 600;
}
.navbar-brand img{
    height: 50px;
    transform: scale(1.0);
    transition: 0.4s ease;
}
.navbar-brand img:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}
.navbar-nav li:hover > ul{
    display: block;
}
.dropdown-menu{
    padding: 0px;
    margin: 0px;
}
.dropdown-item{
    padding: 10px;
}
.nav-item > .dropdown-item:hover {
    background-color:#DC3545;
    color: aliceblue;
}

.nav-item li > ul{
    position: absolute;
    left: 190px;
    top: 0px;
}


.default-heading01 {
    color: #33415B;
    text-transform:uppercase;

}
.default-heading01 span{
    color:#dc3545;
    font-weight:700; 
}
.default-pera01 {
    box-sizing: content-box;
    font-size: 15px;
    color: #4b5363
}



