.default-heading01 {
    color: #33415B;
    text-transform:uppercase;

}
.default-heading01 span{
    color:#dc3545;
    font-weight:700; 
}
.default-heading02 {
    color: #eeeeee;
    text-transform:uppercase;

}
.default-heading02 span{
    color:#e37d4b;
    font-weight:700; 
}
.default-pera01 {
    box-sizing: content-box;
    font-size: 15px;
    color: #4b5363
}






.section-pages{
    background-image:linear-gradient(rgba(170, 0, 0, 0.6),rgba(30, 0, 139, 0.8)), url('../../../assets/banner/slider01.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    padding: 50px;
}

