<section [ngClass]="'section-pages'">
<div class="contianer">
    <div class="row">
        <div class="col-md-8 px-4 d-flex flex-column justify-content-center text-white">
            <h4 class="font-weight-bolder">PAINTING INSPECTOR</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta earum voluptatibus sint consequuntur quidem consectetur corporis aperiam</p>
            <ul>
                <li>Industries we serve</li>
                <li>Industries we serve</li>
                <li>Industries we serve</li>
                <li>Industries we serve</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 [ngClass]="'default-heading02'">Just Enquiry <span>about Course -</span> </h5>
            <input type="text" class="form-control m-1 w-100" placeholder="Enter your Name">
            <input type="text" class="form-control m-1 w-100" placeholder="Enter your Contact">
            <input type="text" class="form-control m-1 w-100" placeholder="Enter your Pin Code">
            <select class="form-select form-select-md m-1" >
                <option selected>Open this select menu</option>
                <option value="ASNT NDT- II COURSES">ASNT NDT- II COURSES</option>
                <option value="ADVANCED NDT">ADVANCED NDT</option>
                <option value="WELDING CSWIP 3.1">WELDING INSPECTOR CSWIP 3.1</option>
                <option value="WELDING CSWIP 3.2">WELDING INSPECTOR CSWIP 3.2</option>
                <option value="PAINTING INSPECTOR BGAS Gr-2">PAINTING INSPECTOR BGAS Gr-2</option>
            </select>
            <a href="#" class="btn btn-danger  m-1 text-white">Quick Enquiry</a>
        </div>
    </div>
</div>
</section>
