.section-pages{
    background-image:linear-gradient(rgba(170, 0, 0, 0.6),rgba(30, 0, 139, 0.8)), url('../../../assets/banner/slider01.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    padding: 50px;
}

