/* You can add global styles to this file, and also import other style files */
.default-heading01 {
    color: #33415B;
    text-transform:uppercase;
}
.default-heading01 span{
    color:#dc3545;
    font-weight:700; 
}
.default-heading02 {
    color: #eeeeee;
    text-transform:uppercase;
}
.default-heading02 span{
    color:#e37d4b;
    font-weight:700; 
}
.default-pera01 {
    box-sizing: content-box;
    font-size: 15px;
    color: #4b5363;
    padding:10px;
}
.common-section01{
    background-color: #f4f4f4;
}

.border01{
    background-color: #dc3545;
    height: 5px;
    width: 20px;;
}
.page-item > a:active{ 
    color: #eeeeee !important;
}

.page-item > a{ 
    color: #33415B;
}




